img{
  position: absolute;
  width: 150px;
}
h1
{
  text-align: center;
}
nav{
  position: absolute;
  margin: 40px;
}
main{
  position: absolute;
  left: 70px;
  top: 240px;
}
table,tr,th,td{
  border: 1px solid black;
  border-collapse: collapse;
  font-size: 15px;
  text-align: center;
  padding: 7px;
}
