/*01. Ако ни се чупи ширината или височината на контейнера,
вътрешният излиза от външния, въпреки че му е зададена същата или по-малка големина
, за да си го вкараме в рамките на външният контейнер му задаваме, на майчиният
box-sizing: border-box; и си решаваме проблема, за да не излиза от външният контейнер,
но това трябва да се направи на външният(майчинит елемент с позиция relative!)*/

#container > div {
    position: relative;
    width: 1000;
    box-sizing: border-box;
}

/*02. Ако искаме да си направим градиент, използваме пейнт.нет
режем си парченце по цялата дължина с широчина 1 пиксел(използваме
Ctrl + Shift + X) за да си изрежем парченцето по селекцията, сейваме и ползваме
онлайн генератор за градиенти(ColorZilla) например*/


/*03. Ако искаме да си нулираме всички падинги и марджини, още от самото начало,
за да не ни правят мизерии!!! или да зададем първоначална стойност на елементите,
най-добре, да си ги изброим отделени със запетайки, за да важи за всеки от изброените,
 всъщност, за всички елементи изброени със запетайки важът едни и същи неща,
така казваме, тези функции да важът за всички изброени*/

body, div, ul, li, label, p, input{
    margin: 0px;
    padding: 0px;
}

/*04. Ако искаме всеки елемент да ни е на отделен ред един под друг му задаваме!!!
display: block;  !!!! за да са на различни редове един под друг!!!
Ако искаме блокови елемнти, като div, p.. пък да са на един ред ползваме display: inline-blcok
Ако не стане с това или елемтите ни не са блокови, ползваме display: inline*/


/*05. Ако трябва да си изчистимн стоиности на елементи зададени с float !!!, понеже ни бъгват
разположението или размерите на други елементи ползваме :after и clear: both; и
 display: block; и content: "" и точно елементът, който ни е бъгнат в случая
 height: 0px; си го зануляваме по този начин. За повече инфо видео
 Подготовка за изпит на Евлоги 2015г, от 1 час и 10 минути нататък */
#wraper > div{
  border-radius: 5px;
  padding: 10px 0px 10px 10px;
  background-color: grey;
  width: 700px;
}
#wraper > div:after{
  height: 0px;
  display: block;
  content: "";
  clear: both;
}
/* Това ни е готовото методче, готово за ползване при нужда само го преименуваме
и сме готови*/
.clear-fix{
  height: 0px;
  display: block;
  content: "";
  clear: both;
}
